.employeeForm {
  font-size: 1.6rem;
  background-color: #c0d0c0;
  width: clamp(28em, 50%, 750px);
  /* max-width: 750px;
  min-width: 28em; */
  margin: 5% auto;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 3px;
  padding: 1em;
}

.employeeForm > p {
  font-size: 0.8em;
  color: red;
  /* width: 50%;*/
  margin: -0.5em;
  text-align: center;
}

/* label.row {
  margin: 0 0.5rem 0 1rem;
  /* flex-grow: 2; */
/* } */

.row > input,
.row > select {
  background-color: #fff;
  border: 2px solid #3e3e3e;
  border-radius: 3px;
  flex-grow: 1;
  padding: 0.4em 0.2em;
  margin: 0.1em 0;
}

.row > label {
  /* width: 3.5rem; */
  flex-basis: 3.5em;
}

.formBtn {
  padding: 0.5em 0.8em;
  border-radius: 5px;
  border: 2px solid #3e3e3e;
}

.formBtn:hover {
  background-color: #fefefe;
  opacity: 0.75;
}

label + label {
  /* padding-left: 1.5em; */
  /* flex-grow: 1;
  border: 3px solid yellow; */
}
